@font-face {
	font-family: "Redaction";
	src: url("/fonts/Redaction-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

* {
	font-family: "Redaction", 'Times New Roman', serif;
	font-size: 16px;
}

*::selection {
	background-color: black;
	color: white;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: white;
	color: black;
	overflow: hidden;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: 2rem;
	box-sizing: border-box;
}

.content {
	max-width: 383px;
}

a {
	color: #838383;
	text-decoration: underline;
	padding: 0 2px;
}

a:hover {
	background-color: black;
	color: white;
	text-decoration: none;
}

.email {
	color: #838383;
}

p {
	margin-bottom: 1em;
}
